<div class="container-fluid my-5">
  <form #patientForm="ngForm">

    <div class="mb-3">
      <select class="form-select form-select-lg mb-3" ngModel="Cc" name="documentType"
              aria-label=".form-select-lg example" required>
        <option value="Cc">C.c.</option>
        <option value="Ce">C.e.</option>
        <option value="Ti">T.i.</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="documentId" class="form-label">Número de documento</label>
      <input type="number" min="0" class="form-control" id="documentId" ngModel name="documentId"
             aria-describedby="emailHelp" required>
      <div class="form-text text-danger">El número de documento es requerido.</div>
    </div>
    <div class="mb-3">
      <label for="firstNameId" class="form-label">Primer Nombre</label>
      <input type="text" class="form-control" id="firstNameId" ngModel name="firstName" aria-describedby="emailHelp"
             required>
      <div class="form-text text-danger">El primer nombre es requerido.</div>
    </div>
    <div class="mb-3">
      <label for="secondNameId" class="form-label">Segundo Nombre</label>
      <input type="text" class="form-control" id="secondNameId" ngModel name="secondName" aria-describedby="emailHelp"
             required>
      <div class="form-text text-danger">El segundo nombre es requerido.</div>
    </div>

    <div class="mb-3">
      <label for="firstSurnameId" class="form-label">Primer Apellido</label>
      <input type="text" class="form-control" id="firstSurnameId" ngModel name="firstSurname"
             aria-describedby="emailHelp"
             required>
      <div class="form-text text-danger">El primer Apellido es requerido.</div>
    </div>
    <div class="mb-3">
      <label for="secondSurnameId" class="form-label">Segundo Apellido</label>
      <input type="text" class="form-control" id="secondSurnameId" ngModel name="secondSurname"
             aria-describedby="emailHelp"
             required>
      <div class="form-text text-danger">El segundo Apellido es requerido.</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>



  </form>
</div>